.opacity {
	opacity:0.75;
}
#TeacherImage {
	height:40px;
	width:40px;
	left:1107px;
	top:152px;
	position:absolute;
}
#TeacherName {
	font-family:poppins;
	font-size:14px;
	font-weight: 500;
	color:#000000;
	left:1152px;
	top:155px;
	position:absolute;
}
#TeacherID {
	font-family:poppins;
	font-size:11px;
	font-style:italic;
	color:#7C7C7C;
	left:1152px;
	top:173px;
	position:absolute;
}
.information{
    height: 100%;
    display: flex;
}
#RectImage1-6 {
	height:15.83px;
	width:18px;
	left:279px;
	top:15px;
	position:absolute;
}
#RectImage7-8 {
	height:15.83px;
	width:18px;
	left:446px;
	top:20px;
	position:absolute;
}
#ClassName {
	font-family:poppins;
	font-size:20px;
	font-weight:600;
	letter-spacing:0.32px;
	color:#000000;
	left:41px;
	top:8px;
	position:absolute;
}
#Period {
	font-family:poppins;
	font-size:13px;
	font-weight:500;
	letter-spacing:0.32px;
	color:#7C7C7C;
	left:42px;
	top:35px;
	position:absolute;
}
#Subject {
	font-family:poppins;
	font-size:13px;
	font-weight:500;
	letter-spacing:0.32px;
	color:#7C7C7C;
	left:42px;
	top:56px;
	position:absolute;
}
#ReliefNote1-6 {
	font-family:poppins;
	font-size:13px;
	font-weight:500;
	color:#EE9322;
	left:163px;
	top:54px;
	position:absolute;
}
#ReliefNote7-8 {
	font-family:poppins;
	font-size:13px;
	font-weight:500;
	letter-spacing:0.32px;
	color:#EE9322;
	left:325px;
	top:54px;
	position:absolute;
}
#Primary1-6 {
	font-family:poppins;
	font-size:11px;
	font-weight:500;
	letter-spacing:0.32px;
	color:#ADADAD;
	left:100px;
	top:77px;
	position:absolute;
}
#Primary7-8 {
	font-family:poppins;
	font-size:11px;
	font-weight:500;
	letter-spacing:0.32px;
	color:#ADADAD;
	left:185px;
	top:77px;
	position:absolute;
}
#Rectangle1 {
	height: 104px;
	width: 321px;
	border-radius: 10px;
	background: #FFFFFF;
	left:300px;
	top:210px;
	position: absolute;
	box-shadow: 0px 0px 3px #404040;
	transition: width 0.1s, height 0.1s;
}
#Rectangle2 {
	height: 104px;
	width: 321px;
	border-radius: 10px;
	background: #FFFFFF;
	left:641px;
	top:210px;
	position: absolute;
	box-shadow: 0px 0px 3px #404040;
	transition: width 0.1s, height 0.1s;
}
#Rectangle3 {
	height: 104px;
	width: 321px;
	border-radius: 10px;
	background: #FFFFFF;
	left:982px;
	top:210px;
	position: absolute;
	box-shadow: 0px 0px 3px #404040;
	transition: width 0.1s, height 0.1s;
}
#Rectangle4 {
	height: 104px;
	width: 321px;
	border-radius: 10px;
	background: #FFFFFF;
	left:300px;
	top:334px;
	position: absolute;
	box-shadow: 0px 0px 3px #404040;
	transition: width 0.1s, height 0.1s;
}
#Rectangle5 {
	height: 104px;
	width: 321px;
	border-radius: 10px;
	background: #FFFFFF;
	left:641px;
	top:334px;
	position: absolute;
	box-shadow: 0px 0px 3px #404040;
	transition: width 0.1s, height 0.1s;
}
#Rectangle6 {
	height: 104px;
	width: 321px;
	border-radius: 10px;
	background: #FFFFFF;
	left:982px;
	top:334px;
	position: absolute;
	box-shadow: 0px 0px 3px #404040;
	transition: width 0.1s, height 0.1s;
}
#Rectangle7 {
	height: 104px;
	width: 490px;
	border-radius: 10px;
	background: #FFFFFF;
	left:300px;
	top:458px;
	position: absolute;
	box-shadow: 0px 0px 3px #404040;
	transition: width 0.1s, height 0.1s;
}
#Rectangle8 {
	height: 104px;
	width: 490px;
	border-radius: 10px;
	background: #FFFFFF;
	left:810px;
	top:458px;
	position: absolute;
	box-shadow: 0px 0px 3px #404040;
	transition: width 0.1s, height 0.1s;
}
#Rectangle1:hover {
	width: 327px;
	height: 110px;
	opacity:0.5;
}
#Rectangle2:hover {
	width: 327px;
	height: 110px;
	opacity:0.5;
}
#Rectangle3:hover {
	width: 327px;
	height: 110px;
	opacity:0.5;
}
#Rectangle4:hover {
	width: 327px;
	height: 110px;
	opacity:0.5;
}
#Rectangle5:hover {
	width: 327px;
	height: 110px;
	opacity:0.5;
}
#Rectangle6:hover {
	width: 327px;
	height: 110px;
	opacity:0.5;
}
#Rectangle7:hover {
	width: 496px;
	height: 110px;
	opacity:0.5;
}
#Rectangle8:hover {
	width: 500px;
	height: 110px;
	opacity:0.5;
}
#BackButton {
	height:45px;
	width:300px;
	border-radius: 50px;
	background: #22A699;
	left:441.67px;
	top: 582px;
	position: absolute;
}
#BackButton:hover {
	opacity:0.5;
}
#Back {
	font-family:poppins;
	font-size:18px;
	font-weight: 600;
	letter-spacing: 0.32px;
	color:#FFFFFF;
	left:545px;
	top: 590px;
	position:absolute;
}
#RemoveButton {
	height:45px;
	width:300px;
	border-radius: 50px;
	background: #E72929;
	left:851.67px;
	top: 582px;
	position: absolute;
}
#RemoveButton:hover {
	opacity:0.5;
}
#Remove {
	font-family:poppins;
	font-size:18px;
	font-weight: 600;
	letter-spacing: 0.32px;
	color:#FFFFFF;
	left:970px;
	top: 590px;
	position:absolute;
}